.navigation {
  background-color: #ff5733; /* Cor laranja escuro */
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
body {
  margin: 0;
  padding: 0;
  background-color: blueviolet; /* Cor de fundo para preencher toda a tela */
}
/* .app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
} */
.profile {
  display: flex;
  align-items: center;
}

.content {
  padding: 20px;
  text-align: center; /* Centralizando o conteúdo */
}

.profile img {
  width: 150px; /* Aumentando o tamanho da foto de perfil */
  height: auto;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
}

.buttons {
  display: flex;
}

.buttons a {
  margin-right: 10px;
}

.buttons img {
  width: 40px; /* Tamanho menor para as logos */
  height: auto;
}

.project {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  text-align: center; /* Centralizando o texto dos projetos */
}

.project h2 {
  margin-top: 0;
}

.project p {
  margin-bottom: 10px;
}

.project a {
  display: inline-block; /* Alterando para ficar lado a lado */
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.project a:hover {
  background-color: #555;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
